doctype html
html(lang="en").h-100
  head
    title= Title
    link(rel="stylesheet" href=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.h-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded
      a.navbar-brand(href="/") Chat
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
    .container-lg.h-100.overflow-hidden
      #chat.h-100
      // block content
    script(src=assetPath('main.js'))
